<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <title>TopGenius.eu</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p class="lead">TopGenius.eu</p>
                <hr>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-form-label">Country:</label>
                        <input class="form-control" type="text" name="country" id="inputCountry" value='{{country}}'>
                        <label class="col-form-label">Limit:</label>
                        <input class="form-control" type="text" name="limit" id="inputLimit" value='{{limit}}'>
                    </div>
                    <button formmethod="get" type="submit" class="btn btn-primary" id="buttonTopTracks">
                        Top Tracks
                    </button>
                    <button formmethod="post" formaction="/sessions/clear/handlebars" type="submit" class="btn btn-primary" id="buttonClearCache">
                        Clear Cache for {{country}}
                    </button>
                </form>
                <br>
                {{#unless hasSession}}
                    <form class="form-inline alert alert-warning" method="post" action="/sessions/init">
                        <button type="submit" class="btn btn-outline-secondary" id="buttonAccept">
                            Accept
                        </button>
                        cookies to store a per-user cache of Last.fm. Otherwise, there is no cache.
                    </form>
                {{/unless}}
            </div>
            <p><strong>Server processing time</strong>: {{serverDuration}} ms for {{country}}</p>
            {{{toptracks}}}
        </div>
        <hr>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <a href="https://www.last.fm" target="_blank">
                    <span class="text-muted">Powered by AudioScrobbler</span>
                    <img src="/img/AudioScrobbler.png" height="40">
                </a>
          </div>
        </footer>
    </body>
</html>